.JsApp {
  margin: 50px auto;
  max-width: 800px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background: white;
  line-height: 1.5em;

  .-content {
    margin: 40px; // #TODO can padding act like margin, without this extra element?

    h2 {
      margin-top: 45px;
      margin-bottom: 5px;
    }
  }
}
