.Tabs {

  .-tab {
    margin: 0;
    padding: 6px 10px;
    font-size: 1em;
    background: white;
    border: none;

    &.x-selected {
      //background: aqua;
      border: 1px solid #ccc;
      border-bottom: 0;
    }

    &:not(.x-selected) {
      border-bottom: 1px solid #ccc;
      background: #f9f9f9;

      &:hover {
        cursor: pointer;
        background: azure;
      }
    }
  }

  &.x-compact {
    padding: 4px 8px;
  }
}
